* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, #2a1a72, #b02972);
    color: white;
}

main {
    width: 75%;
    margin: auto;
}

/* ========== CONTENIDO ========== */
.contenido {
  width: 75%;
  margin: auto;
  text-align: left;
}

.contenido h1 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

.info {
  margin-bottom: 32px;
}

.info h2 {
  text-align: center;
  font-size: 1.4em;
  margin-top: 25px;
  margin-bottom: 16px;
}

.info p {
  margin-bottom: 4px;
  line-height: 1.6;
}

.info ul {
  padding-left: 28px;
}

.info ul li {
  margin-bottom: 8px;
}