/* ===== CONTENEDOR ===== */
.contenedor {
  width: 75%;
  margin: auto;
  text-align: left;
  padding: 2rem 0;
}

/* ===== TÍTULO ===== */
.titulo {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

/* ===== INFORMACIÓN ===== */
.info {
  margin-bottom: 32px;
}

.textoInfo {
  margin-bottom: 16px;
  line-height: 1.6;
}