/* ========== GENERAL ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, #2a1a72, #b02972);
    color: white;
}

main {
    width: 75%;
    margin: auto;
}

/* ========== CONTENIDO ========== */

h1 {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

main {
    margin-bottom: 160px;
}