/* ========== GENERAL ========== */
.contenidoPrincipal main {
    width: 75%;
    margin: auto;
}

/* ========== CONTENIDO ========== */

.contenidoPrincipal h1 {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

.contenidoPrincipal main div {
    margin-bottom: 32px;
}

.contenidoPrincipal p {
    margin-bottom: 4px;
}

.contenidoPrincipal textarea {
    height: 28px;
    min-height: 28px;
    padding: 4px;
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    border: 2px solid black;
    border-color: black;
    background-color: white;
    color: black;
}

.contenidoPrincipal input {
    height: 28px;
    min-height: 28px;
    padding: 4px;
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    border: 2px solid black;
    border-color: black;
    background-color: white;
    color: black;
}

#contenido {
    text-align: left;
}

#mensaje textarea {
    min-height: 100px;
}

.contenidoPrincipal main button {
    color: white;
    background-color: #2C2C2C;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

.contenidoPrincipal main button:hover {
    background-color: #1d1d1d;
    cursor: pointer;
}