/* ========== GENERAL ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, #2a1a72, #b02972);
    color: white;
}

main {
    width: 75%;
    margin: auto;
}

/* ========== CONTENIDO ========== */

h1 {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

main div {
    margin-bottom: 32px;
}

p {
    margin-bottom: 4px;
}

textarea, input {
    height: 28px;
    min-height: 28px;
    padding: 4px;
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    border: 2px solid black;
    border-color: black;
    background-color: white;
    color: black;
}

#contenido {
    text-align: left;
}

#mensaje textarea {
    min-height: 100px;
}

main button {
    color: white;
    background-color: #2C2C2C;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

main button:hover {
    background-color: #1d1d1d;
    cursor: pointer;
}