/* ========== CONTENIDO ========== */
.contenido-principal {
    padding: 40px 20px;
    text-align: center;
}

.blog, .programas {
    margin-bottom: 60px;
}

.bloque {
    background-color: #ccc;
    width: 180px;
    height: 110px;
    margin: 15px auto;
    border-radius: 8px;
}

.programas .bloques {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.unirte {
    margin-top: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.unirte p {
    color: #eee;
    font-size: 16px;
    margin-top: 15px;
    line-height: 1.5;
}
